<mat-toolbar color="primary">
  <mat-icon class="mr-10">chat</mat-icon>
  <span>Chat Sync</span>
  <div class="spacer"></div>
  <button mat-icon-button matTooltip="Notifications" matTooltipPosition="below" matTooltipHideDelay="200">
    <mat-icon>notification_important</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Chats" matTooltipPosition="below" matTooltipHideDelay="200"
    [routerLink]="'/user/chat'">
    <mat-icon>chat</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Contacts" matTooltipPosition="below" matTooltipHideDelay="200" [routerLink]="'/user/contact'">
    <mat-icon>contacts</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Groups" matTooltipPosition="below" matTooltipHideDelay="200" [routerLink]="'/user/group'">
    <mat-icon>group</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Profile" matTooltipPosition="below" matTooltipHideDelay="200" [routerLink]="'/user/profile'">
    <mat-icon>person_pin</mat-icon>
  </button>
  <span>Welcome, John Doe!</span>
  <button mat-icon-button (click)="logoutUser()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <!-- <a mat-raised-button class="ml-5" [routerLink]="'/user/chat'" ><mat-icon>chat</mat-icon>Chat</a>
  <a mat-raised-button class="ml-5" [routerLink]="'/user/contact'" ><mat-icon>contacts</mat-icon>Contact</a>
  <a mat-raised-button class="ml-5" [routerLink]="'/user/group'" ><mat-icon>group</mat-icon>Group</a>
  <a mat-raised-button class="ml-5" [routerLink]="'/user/profile'" ><mat-icon>info</mat-icon>Profile</a>
  <a mat-raised-button class="ml-5" [routerLink]="'/login'"><mat-icon>logout</mat-icon>Logout</a> -->
</mat-toolbar>
<router-outlet></router-outlet>