<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset = "ISO-8859-1" />
    <title>Chat Sync Application</title>

<!--  bootstrap cdn   -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!--  bootstrap icon cdn  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<th:block th:include="header :: header"></th:block>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="m-2">
                <th:block th:include="chat-components :: chat-sidebar"></th:block>
            </div>
        </div>
        <div class="col-md-8">
            <div class="m-2">
                <th:block th:include="chat-components :: chat-message-area"></th:block>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>