<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark" lang="en">
<head>
    <meta charset = "ISO-8859-1" />
    <title>Chat Sync Application</title>
    <link href="/ChatSync/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<th:block th:include="header :: header"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title" th:text="${message}"></h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>