<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/ChatSync/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/ChatSync/webjars/jquery/jquery.min.js"></script>
    <script src="/ChatSync/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/ChatSync/webjars/stomp-websocket/stomp.min.js"></script>

    <script type="text/javascript" th:src="@{/js/test-ws.js}"></script>
</head>
<body>

<input type="text" id="message" placeholder="Enter message">
<button onclick="sendMessage()">Send</button>

<div>
    <button id="sendPrivateMessage" onclick="sendPrivateMessage();">Send Private</button>
    <input type="text" id="privateText" placeholder="Private Message"/>
    <input type="text" id="to" placeholder="To"/>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Greetings</th>
            </tr>
            </thead>
            <tbody id="greetings">
            </tbody>
        </table>
    </div>
</div>

</body>
</html>