<mat-card>
    <!-- header area -->
    <div class="header-area">
        <mat-card-header>
            <div mat-card-avatar (mouseenter)="showUserInfoCard()" (mouseleave)="hideUserInfoCard()"
                class="profile-container" >
                <img class="contact-tile-image"
                    src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg" />
                <app-user-info-model *ngIf="isCardVisible"></app-user-info-model>    
            </div>
            <mat-card-title>Chat Thread</mat-card-title>
            <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste,
                ut.</mat-card-subtitle>
        </mat-card-header>
    </div>
    <!-- chat message area -->
    <div class="chat-space-area">
        <div fxLayout="column">
            <cdk-virtual-scroll-viewport itemSize="10" class="message-scroll-viewport">
                <div *ngFor="let message of messages" class="message">
                    <!-- received message -->
                    <div *ngIf="message.sentBy !== 'user'">
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <div class="message-content"
                                [ngClass]="{'sent': message.sentBy === 'user', 'received': message.sentBy !== 'user'}">
                                {{ message.text }}
                            </div>
                        </div>
                    </div>
                    <!-- sent message -->
                    <div *ngIf="message.sentBy === 'user'">
                        <div fxLayout="row" fxLayoutAlign="end start">
                            <div class="message-content"
                                [ngClass]="{'sent': message.sentBy === 'user', 'received': message.sentBy !== 'user'}">
                                {{ message.text }}
                            </div>
                        </div>
                    </div>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
    <!-- message input area -->
    <div class="message-container">
        <mat-form-field appearance="fill" class="message-input">
            <textarea rows="2" class="input-text-area" matInput placeholder="Type your message"></textarea>
        </mat-form-field>

        <!-- (change)="onFileSelected($event)" -->
        <input type="file" accept=".pdf, .doc, .docx, .jpg, .png" style="display: none" #fileInput>

        <button mat-icon-button color="primary" class="attachment-button" (click)="fileInput.click()">
            <mat-icon>attach_file</mat-icon>
        </button>

        <button mat-icon-button color="primary" class="send-button">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</mat-card>