.message-scroll-viewport {
    height: 645px !important;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.message-scroll-viewport::-webkit-scrollbar {
    display: none;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.message-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;
}

.separator-text {
    flex: 1;
    border-bottom: 1px solid #ccc;
    line-height: 0.1em;
    color: #555;
    margin: 0 10px;
}

.separator-text span {
    background: #fff;
    padding: 0 10px;
}

.sender-name {
    margin-left: 3px !important;
    margin-bottom: 3px !important;
}

.sender-profile-image {
  border-radius: 50%;
}
