.message-scroll-viewport {
    height: 645px !important;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.message-scroll-viewport::-webkit-scrollbar {
    display: none;
}

.profile-container {
    position: relative;
    display: inline-block;
}