<div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10" fxFill>
        <div fxFlex="30" fxLayout="column">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="chats-title">Groups</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- contact lists -->
                    <div fxLayout="column">
                        <cdk-virtual-scroll-viewport itemSize="10" class="contact-page-scroll-viewport">
                            <mat-card class="m-2 contact-tile" *cdkVirtualFor="let group of groups;let i=index">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div><mat-card-header>
                                            <div mat-card-avatar>
                                                <img class="contact-tile-image"
                                                    src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg" />
                                            </div>
                                            <mat-card-title>{{ group.groupName }}</mat-card-title>
                                            <mat-card-subtitle>Memebers : {{ group.memberCnt }}</mat-card-subtitle>
                                        </mat-card-header></div>
                                    <div>
                                        <button mat-raised-button color="accent" class="mr-10" (click)="onClickChatWithGroup(group.groupId)"><mat-icon>chat</mat-icon>
                                            Chat</button>
                                        <button mat-raised-button color="primary"
                                            class="mr-10" (click)="changeSelectedGroup(i)"><mat-icon>info</mat-icon>
                                            Info</button>
                                    </div>
                                </div>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="68" fxLayout="column" class="user-info-section">
            <div fxFlex="row" fxLayoutAlign="center center">
                <p class="user-info-header">Group Information</p>
            </div>
            <div fxFlex="row" fxLayoutAlign="center center">
                <img
                    src="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg" />
            </div>
            <div fxFlex="row" fxLayoutAlign="center center">
                <div fxFlex="column" fxLayoutAlign="center center">
                    <div class="profile-info-font">
                        <div fxLayout="row" fxFlexAlign="space-around center">
                            <p class="mlr-10"><b>Members : </b>{{ selectedGroup?.memberCnt }}</p> |
                            <p class="mlr-10"><b>Online Members : </b>0</p> |
                            <p class="mlr-10"><b>Offline Members : </b>0</p>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="row" fxLayoutAlign="center center">
                <div fxFlex="column" fxLayoutAlign="center center">
                    <div class="profile-info-font">
                        <p><b>Group name : </b>{{ selectedGroup?.groupName }}</p>
                    </div>
                </div>
            </div>
            <div fxFlex="row" fxLayoutAlign="center center">
                <div class="profile-info-font">
                    <p><b>Role : </b>{{ selectedGroup?.groupMemberRole }}</p>
                </div>
            </div>
            <div fxFlex="row" fxLayoutAlign="center center">
                <div class="profile-info-font">
                    <p><b>Created At : </b>{{ selectedGroup?.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                </div>
            </div>
            <div fxFlex="row" fxLayoutAlign="center center">
                <button mat-raised-button color="accent" class="mr-10" (click)="onClickChatWithGroup(selectedGroup?.groupId)"><mat-icon>chat</mat-icon>Chat</button>
                <button mat-raised-button color="primary" class="mr-10" (click)="showMembersInfoForGroup()"><mat-icon>group</mat-icon>Members</button>
                <button mat-raised-button class="mr-10" (click)="editGroup()"><mat-icon>edit</mat-icon>Edit</button>
                <button mat-raised-button color="primary" class="mr-10" (click)="addNewMember()"><mat-icon>add</mat-icon>Add New Member</button>
                <button mat-raised-button class="mr-10" color="warn" (click)="onClickLeaveGroup(selectedGroup?.groupId)"><mat-icon>remove</mat-icon>Leave Group</button>
                <button mat-raised-button class="mr-10" (click)="onClickDeleteGroup(selectedGroup?.groupId)"><mat-icon>delete</mat-icon>Delete Group</button>
            </div>
        </div>
    </div>
</div>