<div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10" fxFill>
        <div fxFlex="30" fxLayout="column">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="chats-title">Contacts</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- contact lists -->
                    <div fxLayout="column">
                        <cdk-virtual-scroll-viewport itemSize="10" class="contact-page-scroll-viewport">
                            <mat-card class="m-2 contact-tile" *cdkVirtualFor="let contact of contacts; let i=index">
                                <div fxLayout="row" fxLayoutAlign="space-between center">
                                    <div><mat-card-header>
                                            <div mat-card-avatar>
                                                <img class="contact-tile-image" [src]="contact.profileImage" />
                                            </div>
                                            <mat-card-title>{{ contact.firstName }} {{ contact.lastName
                                                }}</mat-card-title>
                                            <mat-card-subtitle>Contact Status</mat-card-subtitle>
                                        </mat-card-header></div>
                                    <div>
                                        <button mat-raised-button color="accent" class="mr-10"
                                            (click)="onClickChatWithContact(contact.userId)"><mat-icon>chat</mat-icon>
                                            Chat</button>
                                        <button mat-raised-button color="primary" class="mr-10"
                                            (click)="changeSelectedContact(i)"><mat-icon>info</mat-icon>
                                            Info</button>
                                    </div>
                                </div>
                            </mat-card>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="68" fxLayout="column" class="user-info-section">
            <mat-card fxFill class="p-10">
                <div fxFlex="row" fxLayoutAlign="center center">
                    <p class="user-info-header">User Information</p>
                </div>
                <div fxFlex="row" fxLayoutAlign="center center">
                    <img [src]="selectedContact.profileImage" />
                </div>
                <div fxFlex="row" fxLayoutAlign="center center">
                    <div fxFlex="column" fxLayoutAlign="center center">
                        <div class="profile-info-font">
                            <p><b>Status : </b>Online</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="row" fxLayoutAlign="center center">
                    <div fxFlex="column" fxLayoutAlign="center center">
                        <div class="profile-info-font">
                            <p><b>Username : </b>{{ selectedContact.username }}</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="row" fxLayoutAlign="center center">
                    <div class="profile-info-font">
                        <p><b>E-mail : </b>{{ selectedContact.email }}</p>
                    </div>
                </div>
                <div fxFlex="row" fxLayoutAlign="center center">
                    <div class="profile-info-font">
                        <p><b>First name : </b>{{ selectedContact.firstName }}</p>
                    </div>
                </div>
                <div fxFlex="row" fxLayoutAlign="center center">
                    <div class="profile-info-font">
                        <p><b>Last name : </b>{{ selectedContact.lastName }}</p>
                    </div>
                </div>
                <div fxFlex="row" fxLayoutAlign="center center">
                    <button mat-raised-button color="accent" class="mr-10"
                        (click)="onClickChatWithContact(this.selectedContact.userId)"><mat-icon>chat</mat-icon>Chat</button>
                    <button mat-raised-button color="primary" class="mr-10"
                        (click)="onClickViewGroupsForUser()"><mat-icon>group</mat-icon>Groups</button>
                    <button mat-raised-button color="warn"
                        (click)="onClickDeleteContact(this.selectedContact.userId)"><mat-icon>delete</mat-icon>Delete</button>
                </div>
            </mat-card>
        </div>
    </div>
</div>
