.ml-2 {
    margin-left: 2px !important;
}

.pl-10 {
    padding-left: 10px !important;
}


.m-0 {
    margin: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.font-13 {
    font-size: 13px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.align-right {
    align-self: flex-end;
}

.message-content {
    height: 690px;
    max-height: 690px;
    overflow-y: auto;
}

.message-content::-webkit-scrollbar{
    display: none;
}

.message-tile {
    border-bottom: 1px solid white;
}

.message-tile:hover {
    background-color: #171717bd;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.message-area-header{
    padding: 0.5rem !important;
}

.font-larger {
  font-size: larger;
}

.font-medium {
    font-size: medium;
}

.message-area {
    height: 727px;
    max-height: 727px;
    overflow-y: auto;
}

.message-area::-webkit-scrollbar{
    display: none;
}


.message-card {
  max-width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  /*color: #000;*/
}

.message-card > p {
    margin: 0 !important
}

.sender-avatar{
    height: 20px;
    width: 20px;
}

.sender-card {
  background-color: #5e646b; /* color for sender card */
  align-self: flex-end;
}

.receiver-card {
  background-color: #587ba3; /* color for receiver card */
  align-self: flex-start;
}

.timestamp {
  font-size: 0.8rem;
  text-align: right;
}

.contact-list-section {
    height: calc(100vh - 155px);
    max-height: calc(100vh - 155px);
    overflow-y: auto;
}
.contact-list-section::-webkit-scrollbar {
    display: none;
}

.contact-user-info-profile-image {
    height: 400px;
    width: 400px;
}

.group-info-image {
    height: 300px;
    width: 300px;
}

.online-status-badge {
    background-color: #4caf50; /* Green color for online status */
    color: #fff; /* White text color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 20px; /* Curved corners */
    display: inline-block;
}

.offline-status-badge {
    background-color: #ff0000; /* Green color for online status */
    color: #fff; /* White text color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 20px; /* Curved corners */
    display: inline-block;
}

.group-member-input-section {
    height: calc(100vh - 140px);
    max-height: calc(100vh - 140px);
    overflow-y: auto;
}
.group-member-input-section::-webkit-scrollbar {
    display: none;
}