.ml-2 {
    margin-left: 2px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message-content {
    height: 690px;
    max-height: 690px;
    overflow-y: auto;
}

.message-content::-webkit-scrollbar{
    display: none;
}

.message-tile:hover{
    background-color : #efeded;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.message-area-header{
    padding: 0.5rem !important;
}

.font-larger {
  font-size: larger;
}

.message-area {
    height: 727px;
    max-height: 727px;
    overflow-y: auto;
}

.message-area::-webkit-scrollbar{
    display: none;
}

.m-0 {
    margin: 0px !important;
}

.message-card {
  max-width: 70%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
}

.message-card > p {
    margin: 0 !important
}

.sender-card {
  background-color: #e1e1e1; /* color for sender card */
  align-self: flex-start;
}

.receiver-card {
  background-color: #b9b9b9; /* color for receiver card */
  align-self: flex-end;
}

.timestamp {
  font-size: 0.8rem;
  color: #000;
  text-align: right;
}